.mo-button {
    position: relative;
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
    box-shadow: $btn-box-shadow;
    cursor: pointer;
    transition: $btn-transition;

    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
        box-shadow: none;

        >* {
            pointer-events: none;
        }
    }
}

.mo-button.disabled,
.mo-button.loading {

    &::before,
    &::after {
        display: none;
    }
}


.mo-button--hg {
    @include button-size($btn-padding-y-hg, $btn-padding-x-hg, $btn-font-size-hg, $btn-border-radius-hg);
}

.mo-button--lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.mo-button--sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

.mo-button--mini {
    @include button-size($btn-padding-y-mini, $btn-padding-x-mini, $btn-font-size-mini, $btn-border-radius-mini);
}

.mo-button--primary {
    @include button-style($primary, $primary, $white)
}

.mo-button--success {
    @include button-style($success, $success, $white)
}

.mo-button--warning {
    @include button-style($warning, $warning, $white)
}

.mo-button--danger {
    @include button-style($danger, $danger, $white)
}

.mo-button--default {
    @include button-style($white, $gray-700, $body-color, $white, $primary, $primary);
}

.mo-button--border-1 {
    @include button-border-style($primary, $primary);

    &::before,
    &::after {
        border: 1px solid transparent;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }

    &:hover {
        border: 1px solid $primary;
    }

    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: $primary;
        border-right-color: $primary;
        -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    &:hover::after {
        border-bottom-color: $primary;
        border-left-color: $primary;
        -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    }
}

.mo-button--border-2 {
    @extend .mo-button--border-1;

    &:hover {
        color: $primary;
    }

    &::after {
        top: 0;
        left: 0;
    }

    &:hover::before {
        border-top-color: $primary;
        border-right-color: $primary;
    }

    &:hover::after {
        border-bottom-color: $primary;
        border-left-color: $primary;
        -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
}

.mo-button--border-3 {
    @include button-border-style($primary, $primary);

    &:hover {
        color: $primary;
    }

    &::before,
    &::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
    }

    &::before {
        border-top: 1px solid $primary;
        border-bottom: 2px solid $primary;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
    }

    &::after {
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
    }

    &:hover::before,
    &:hover::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }
}